#intro{
  text-align: center;
  margin-left: 15%;
  margin-right: 15%;
  margin-bottom:5%
}

#title{
  font-size: 65px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: rgb(114, 34, 34);
  margin-bottom: 55px
}

h2{
  font-size: 32px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color:sienna
}

#basics{
  text-align: center;
  margin-left: 15%;
  margin-right: 15%;
  margin-bottom: 5%;
}

p{
  font-size: large;
  text-align: left;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#chord-content{
  list-style: none;
  margin-left: 20%;
}

#comments{
  margin-left: 15%;
  margin-bottom:100px;
}

body{
  background-image: url("https://media.istockphoto.com/photos/acoustic-guitar-picture-id156547833?k=20&m=156547833&s=612x612&w=0&h=dsn9GASv6xnVHTC2dIRBmfuJ72XIqFlV4YIxzP4NzvI="), url("https://media.istockphoto.com/photos/acoustic-guitar-picture-id156547833?k=20&m=156547833&s=612x612&w=0&h=dsn9GASv6xnVHTC2dIRBmfuJ72XIqFlV4YIxzP4NzvI=");
  background-repeat: repeat-y, repeat-y;
  background-size: 250px 300px, 250px 300px;
  background-position: top right, top left;
}

#tube{
  margin-left: 15%;
  margin-right: 15%;
  margin-bottom: 5%;
  text-align: center;
  margin-top: 50px
}

#play{
  text-align: left;
}