#intro{
  text-align: center;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom:5%
}

#title{
  font-size: 65px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: rgb(114, 34, 34);
  margin-bottom: 55px
}

h2{
  font-size: 32px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color:sienna
}

#basics{
  text-align: center;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 5%;
}

p{
  font-size: large;
  text-align: left;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#chord-content{
  list-style: none;
  margin-left: 15%;
}

#comments{
  margin-left: 10%;
  margin-bottom:100px;
}